---
import SpeedInsights from "@vercel/speed-insights/astro";
import { Page } from "../components/Page";
import { type Languages, defaultLang } from "../i18n/ui";
import { useSharedTranslations } from "../i18n/utils";

interface Props {
  title: string;
  description: string;
  lang: Languages;
  secondTitle?: string;
}

const { title, lang, description, secondTitle } = Astro.props;

const asPath = Astro.url.pathname; // ex: / or /en/sub
const asPathWithoutEndSlash = asPath.endsWith("/")
  ? asPath.slice(0, -1)
  : asPath;

const asPathWithoutLocale =
  lang === defaultLang
    ? asPathWithoutEndSlash
    : asPathWithoutEndSlash.replace(`/${lang}`, ""); // ex: / or /sub

const t = useSharedTranslations(lang);

const normalizedTitle =
  title === t("title") ? t("title") : `${title} - ${t("title")}`;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{normalizedTitle}</title>

		<SpeedInsights />
	</head>
	<body>
		<Page 
			headerProp={{
				lang,
				currentPathWithoutLang: asPathWithoutLocale,
			}}
			pageCoverProp={{
				title: secondTitle ? secondTitle : title,
			}}

			client:visible
		>
			<slot />
		</Page>
	</body>
</html>

<style is:global>
body {
	word-break: auto-phrase;
	text-wrap: balance;
}
</style>
