---
import { Box } from "@mui/joy";
import SpeedInsights from "@vercel/speed-insights/astro";
import { Header } from "../components/Header";
import { type Languages, defaultLang } from "../i18n/ui";
import { toCodes } from "astro:i18n";
import { useSharedTranslations } from "../i18n/utils";

interface Props {
  title: string;
  description: string;
  lang: Languages;
}

const { title, lang, description } = Astro.props;

const asPath = Astro.url.pathname; // ex: / or /en/sub
const asPathWithoutEndSlash = asPath.endsWith("/")
  ? asPath.slice(0, -1)
  : asPath;

const asPathWithoutLocale =
  lang === defaultLang
    ? asPathWithoutEndSlash
    : asPathWithoutEndSlash.replace(`/${lang}`, ""); // ex: / or /sub

const t = useSharedTranslations(lang);

const normalizedTitle =
  title === t("title") ? t("title") : `${title} - ${t("title")}`;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{normalizedTitle}</title>

		<SpeedInsights />
	</head>
	<body>
		<Header lang={lang} currentPathWithoutLang={asPathWithoutLocale} client:visible/>
		<Box sx={{margin: "1rem"}}>
		<main>
		<slot />
		</main>
		</Box>
	</body>
</html>

<style is:global>
body {
	word-break: auto-phrase;
	text-wrap: balance;
}
</style>
