---
import { Box } from "@mui/joy";
import SpeedInsights from "@vercel/speed-insights/astro";
import { Header } from "../components/Header";
import { type Languages, defaultLang } from "../i18n/ui";
import { getStaticRoutes } from "../utils/staticRoute";

interface Props {
  title: string;
  description: string;
  lang: Languages;
}

const { title, lang, description } = Astro.props;

const asPath = Astro.url.pathname; // ex: / or /en/sub

const asPathWithoutLocale =
  lang === defaultLang ? `${asPath}` : asPath.replace(`/${lang}`, ""); // ex: / or /sub

const routes = getStaticRoutes(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SpeedInsights />
	</head>
	<body>
		<Header lang={lang} currentPath={asPathWithoutLocale} routes={routes} client:visible/>
		<Box sx={{margin: "1rem"}}>
		<main>
		<slot />
		</main>
		</Box>
	</body>
</html>

<style is:global>
body {
	word-break: auto-phrase;
	text-wrap: balance;
}
</style>
