---
import { Box } from "@mui/joy";
import { Header } from "../components/Header";
import { type Languages, defaultLang } from "../i18n/ui";

interface Props {
  title: string;
  description: string;
  lang: Languages;
}

const { title, lang, description } = Astro.props;

const asPath = Astro.url.pathname; // ex: / or /en/sub

const asPathWithoutLocale =
  lang === defaultLang ? `${asPath}` : asPath.replace(`/${lang}`, ""); // ex: / or /sub

console.log({ asPath, asPathWithoutLocale });
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header lang={lang} path={asPathWithoutLocale} client:visible/>
		<Box sx={{margin: "1rem"}}>
		<main>
		<slot />
		</main>
		</Box>
	</body>
</html>

<!-- <style is:global>
</style> -->
